body    {
    margin: 0;
}

/* NAVBAR */

nav {
    margin: 0 25px 0 25px;
}
nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li  {
    float: left;
    padding: 25px 10px;
}
nav li a    {
    display: block;
    text-decoration: none;
    color: black;
}
nav li a:hover  {
    text-decoration: underline;
}
.nav-right  {
    float: right;
}

/* MAIN */

#logo, #search-bar, #buttons   {
    text-align: center;
}
#logo   {
    margin-top: 100px;
}
img {
    width: 350px;
}
#search-bar {
    margin-top: 30px;
    padding: 10px;
}
#search-bar input {
    width: 80%;
    max-width: 550px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid rgb(110, 110, 110);
    font-size: 20px;
}
#search-bar input[type="text"] {
    padding-left: 15px;
}
#search-bar input:focus {
    outline: none;
}
#buttons    {
    margin-top: 30px;
}
button {
    width: 150px;
    height: 50px;
    font-size: 17px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}
button:nth-of-type(2)   {
    width: 160px;
}
button:hover    {
    border: 1px solid black;
}

/* FOOTER */

footer {
    background-color: rgb(202, 202, 202);
    border-top: 1px solid rgb(110, 110, 110);
    margin-top: 180px;
}
footer ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
footer li  {
    float: left;
    padding: 15px 15px;
}
footer li a    {
    display: block;
    text-decoration: none;
    color: black;
}
footer li a:hover   {
    text-decoration: underline;
}
.footer-right   {
    float: right;
}

/* MEDIA QUERIES */

@media  only screen and (max-width: 425px)  {
    
    img {
        width: 250px;
    }
    footer ul .footer-top {
        margin-left: 20px;
    }
    footer ul .footer-bottom {
        float: left;
        margin-left: 35px;
        padding-top: 0px;
    }
    footer ul li:nth-of-type(6) {
        margin-left: 60px;
    }
}
@media  only screen and (max-width: 375px) {
    #search-bar, #buttons   {
        margin-top: 10px;
    }
    button {
        width: 115px;
        font-size: 15px;
        padding: 5px;
    }
    button:nth-of-type(2) {
        padding: 5px;
        width: 130px;
    }
    footer ul .footer-top   {
        margin-left: 20px;
        padding: 5px;
    }
    footer ul .footer-bottom {
        padding: 5px;
    }
}
@media  only screen and (max-width: 320px) {
    nav {
        margin-left: 15px;
    }
    nav ul li {
        padding: 5px;
        margin: 1px;
    }
    #buttons {
        padding-left: 15px;
    }
    footer ul .footer-top   {
        margin: 5px;
    }
    footer ul .footer-bottom {
        margin-left: 20px;
    }
    footer ul li:nth-of-type(5) {
        margin-left: 30px;
    }
}